<h2>Booking</h2>
<table>
  <tr>
    <th>Engineer</th>
    <td><%= @booking.engineer.name %></td>
  </tr>
  <tr>
    <th>Client</th>
    <td><%= @booking.client.name %></td>
  </tr>
</table>
<%= link_to "Back", root_path %>